@import "tailwindcss";
@config "../tailwind.config.ts";

@layer components {
  .glass-card {
    @apply bg-[#1e2024]/70 backdrop-blur-md border border-white/5;
  }

  .stadium-gradient {
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-container) 100%);
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    @apply inline-block align-middle;
  }
}

/* Scrollbar Personalizado */
@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-variant rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}